body{
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: cursive;
  background-color: rgb(198, 195, 195);
}

.testimonial-container{
  width: 500px;
  height: 100px;
  background-color: rgb(147, 145, 145);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,.3);
  min-width: 400px;
  padding: 70px 20px;
  margin: 5px;
  color: rgb(255, 255, 255);
  position: relative;
}

img{
  width: 100x;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
}

.username{
  font-size: 13px;
  font-weight: 100;
}
